
body {
    /*background-image: url('https://cdn.britannica.com/92/216092-050-4B31C2B7/custom-library.jpg?q=60');
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Long_Room_Interior%2C_Trinity_College_Dublin%2C_Ireland_-_Diliff.jpg/1200px-Long_Room_Interior%2C_Trinity_College_Dublin%2C_Ireland_-_Diliff.jpg');
    */
    background-image: url(../media/indexBackground.jpg);
    background-repeat: no-repeat;
}

.frmSignIn {
    background-color: rgba(0,0,0,.4);
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 10%;
    margin-top: 25%;
}

.frmRegister {
    background-color: rgba(0,0,0,.4);
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12.5px;
}

.frmRegister div {
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h3, label {
    color: beige;
}

.btnForgotPassword {
    color: white;
    cursor: pointer;
    margin-top: 1px;
    margin-left: 5px;
    font-style: italic;
    font-size: smaller;
    border: solid;
    border-width: 0px;
    background-color: transparent;
}

.signInDisplay {
    display: block;
}

.forgotPasswordDisplay {
    display: none;
}

.registerDisplay {
    display: none;
}

@media only screen and (max-width: 600px) { 
    .signInGrid {
        margin-top: 5%;
        display: grid;
        grid-template-areas: "gridImage gridForm";
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        grid-auto-rows: auto;
        grid-template-rows: 750px;    
    }

    .btnLogIn {
        width: 75px;
    }

    .btnRegisterSubmit, .btnForgotSubmit {
        width: 100px;
    }

    .btnRegister {
        float: right;
        width: 140px;
    }
    
    .btnCancel, .btnForgotCancel, .btnRegisterCancel {
        float: right;
        width: 100px;
    }

    img {
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        width: 90%;
        height: 75%;
    }
}

@media only screen and (min-width: 600px) { 
        .signInGrid {
        margin-top: 5%;
        display: grid;
        grid-template-areas: "gridImage gridForm";
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        grid-auto-rows: auto;
        grid-template-rows: 750px;    
    }

    .btnLogIn {
        width: 75px;
    }

    .btnRegisterSubmit, .btnForgotSubmit {
        width: 100px;
    }

    .btnRegister {
        float: right;
        width: 140px;
    }
    
    .btnCancel, .btnForgotCancel, .btnRegisterCancel {
        float: right;
        width: 100px;
    }

    img {
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        width: 90%;
        height: 75%;
    }
}

@media only screen and (min-width: 768px) { 
    .signInGrid {
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%;
        display: grid;
        grid-template-areas: "gridImage gridForm";
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        grid-auto-rows: auto;
        grid-template-rows: 750px;    
    }

    .btnLogIn {
        width: 100px;
    }

    .btnRegisterSubmit, .btnForgotSubmit {
        width: 135px;
    }

    .btnRegister {
        float: right;
        width: 175px;
    }
    
    .btnCancel, .btnForgotCancel, .btnRegisterCancel {
        float: right;
        width: 135px;
    }

    img {
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        width: 90%;
        height: 75%;
    }
}

@media only screen and (min-width: 992px) { 
    .signInGrid {
        margin-top: 5%;
        margin-left: 3.5%;
        margin-right: 3.5%;
        display: grid;
        grid-template-areas: "gridImage gridForm";
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        grid-auto-rows: auto;
        grid-template-rows: 750px;    
    }

    .btnLogIn {
        width: 150px;
    }

    .btnRegisterSubmit, .btnForgotSubmit {
        width: 160px;
    }

    .btnRegister, .btnCancel, .btnForgotCancel, .btnRegisterCancel {
        float: right;
        width: 160px;
    }

    img {
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        width: 90%;
        height: 100%;
    }
}

@media only screen and (min-width: 1200px){ 
    .signInGrid {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-template-areas: "gridImage gridForm";
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5%;
        grid-auto-rows: auto;
        grid-template-rows: 750px;    
    }

    .btnLogIn, .btnRegisterSubmit, .btnForgotSubmit {
        width: 175px;
    }

    .btnRegister, .btnCancel, .btnForgotCancel, .btnRegisterCancel {
        float: right;
        width: 175px;
    }

    img {
        border: solid;
        border-width: 0px;
        border-radius: 10px;
        width: 90%;
        height: 100%;
    }
}
